extends layouts/main-layout.pug

block content
    if errorMessage
        span.errorMessage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}'
        
        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, user)
                span#chatName(data-toggle='modal', data-target='#chatNameModal') #{chat.chatName}
            .mainContentContainer
                .chatContainer
                    .chatMessages
                    .footer
                        textarea.inputTextBox(name="messageInput", placeholder="Type a message...") 
                        button.sendMessageButton
                            i.fas.fa-paper-plane

        +createChatNameModal(chat)
block scripts 
    script(src="/js/chat.js")
    script(src="/js/inbox.js") 
